.row
  = label :person, :first_name, 'First Name'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'first_name', :id => 'first_name', class: 'form-control'
%br
.row    
  = label :person, :last_name, 'Last Name'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'last_name', :id => 'last_name', class: 'form-control'
%br
.row    
  = label :person, :hebrew_name, 'Hebrew Name'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'hebrew_name', :id => 'hebrew_name', class: 'form-control'
%br
.row    
  = label :person, :birthday, 'Birthday'
  %br
  = date_select(:person, 'birthday', :id => 'birthday', :start_year => 1900)
%br
.row    
  = label :person, :home_address, 'Home Address'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'home_address', :id => 'home_address', class: 'form-control'
%br
.row    
  = label :person, :telephone, 'Telephone #'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'telephone', :id => 'telephone', class: 'form-control'
%br
.row    
  = label :person, :telephone_type, 'Telephone Type'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'telephone_type', :id => 'telephone_type', class: 'form-control'
%br
.row    
  = label :person, :email_address, 'Email Address'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'email_address', :id => 'email_address', class: 'form-control'
%br
.row    
  = label :person, :employer, 'Employer'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'employer', :id => 'employer', class: 'form-control'
%br
.row    
  = label :person, :occupation, 'Occupation'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'occupation', :id => 'occupation', class: 'form-control'
%br
.row    
  = label :person, :anniversary, 'Anniversary'
  %br
  .col-xs-4.no-left-padding
    = text_field :person, 'anniversary', :id => 'anniversary', class: 'form-control'
%br
.row    
  = label :person, :is_child, 'Is a child?'
  %br
  = select :person, :is_child, ['Yes', 'No'], :id => 'is_child'
%br
.row    
  = label :person, :allow_contact, 'Available for contact?'
  %br
  = select :person, :allow_contact, ['Yes', 'No'], :id => 'allow_contact'
%br