.container 
  .jumbotron
    %h2 Showing information for #{@person.full_name}
    %table
      %thead
        %tr
          %th Hebrew Name - #{@person.hebrew_name}
        %tr
          %th Birthday - #{@person.birthday}
        %tr
          %th Home Address - #{@person.home_address}
        %tr
          %th Telephone - #{@person.telephone}
        %tr
          %th Email Address - #{@person.email_address}
        %tr
          %th Employer - #{@person.employer}
        %tr
          %th Occupation - #{@person.occupation}
        %tr
          %th Anniversary - #{@person.anniversary}
        %tr
          %th How did you meet? - #{@person.discovery}
        %tr
          %th Hobbies? - #{@person.hobbies}
        %tr
          %th Skills? - #{@person.skills}
        %tr
          %th Activities? - #{@person.activities}
        %tr
          %th Committees? - #{@person.committees}