.container
	%h1 Create a submittal
	- flash.each do |type, msg|
		%strong
			= msg
	.jumbotron
		= form_tag family_submittals_path do
			.row		
				= label :submittal, :family, 'Family'
				%br
				.col-xs-4.no-left-padding.bot-padding
					= text_field(:submittal, :family, class: 'form-control')
			.row
				= label :submittal, :title, 'Title'
				%br
				.col-xs-4.no-left-padding.bot-padding
					= text_field(:submittal, :title, class: 'form-control')
			.row 
				= label :submittal, :notes, 'Notes'
				%br
				.col-xs-4.no-left-padding.bot-padding
					= text_field(:submittal, :notes, class: 'form-control')
			%br
			.row
				= submit_tag 'Create submittal', class: 'btn btn-default'
