.container

  %h1.header-container
    = "Edit Family: " + @family.family_name
  %br

  .container
    - flash.each do |type, msg|
      %strong
        = msg

  .jumbotron
    = form_for(@family, html: {method: "patch"}) do
      .row
        = label :family, :family_name, 'Family Name'
        %br
        = text_field :family, 'family_name'
      %br
      .row
        = submit_tag 'Update Family', class: "btn btn-default"

  .people-container
    %h2 People in your Family
    = react_component("PeopleList", {people: @people})

  = button_to 'Add Person', new_person_path, :method => :get
