.container

  %h1.header-container
    = @family.family_name
  %br

  .container
    - flash.each do |type, msg|
      %strong
        = msg

  .jumbotron
    .row
      = label :family, :family_name, 'Family Name'
      %br
      = text_field :family, 'family_name'
    %br

  .people-container
    %h2 People in your Family
    = react_component("PersonList", {people: @people})

  = button_to 'Add Person', new_family_person_path, :method => :get, class: 'btn btn-default'

%br
%br
%br
