.container
  %h1.header-container 
    = "Welcome " + @user.full_name
  - flash.each do |type, msg|
    %strong
      = msg
<<<<<<< HEAD
  %h2 Account Settings
  %p Click to edit profile settings
  - if @user.is_admin
    .resource-container
      = react_component("CreateResource", {title:"User", url:new_user_path, color: '#74D3AE'}, {:style => "display:inline-block"})
      = react_component("CreateResource", {title:"Family", url:families_path, color: '#CBB3BF'}, {:style => "display:inline-block"})
    .user-container
      %h2 Users
      = react_component("UserList", {users: @users})
    
=======

  .resource-container
    = react_component("CreateResource", {title:"User", url:new_user_path, color: '#74D3AE'}, {:style => "display:inline-block"})
    = react_component("CreateResource", {title:"Family", url:new_family_path, color: '#CBB3BF'}, {:style => "display:inline-block"})

  
>>>>>>> Fix create family
