.container
  %h1 Welcome #{@user.full_name}!
  - flash.each do |type, msg|
    %strong
      = msg

  .resource-container
    = react_component("CreateResource", {title:"User", url:new_user_path, color: '#74D3AE', action: 'create'}, {:style => "display:inline-block"})
    = react_component("CreateResource", {title:"Family", url:families_path, color: '#CBB3BF', action: 'create'}, {:style => "display:inline-block"})
    = react_component("CreateResource", {title:"Submittal", url:"TODO", color: '#8DA1B9', action: 'create'}, {:style => "display:inline-block"})
    = react_component("CreateResource", {title:"Submittal", url:"TODO", color: '#EF959C', action: 'view'}, {:style => "display:inline-block"})
  %table#users
    %thead
      %tr
      %th All User Emails
    %tbody
      - @users.each do |user|
        %tr
        %td= user.email