.container
  %h1.header-container 
    = "Welcome " + @user.full_name
  %p 
    = "Last login on "
    %span.date
      = @last_login
  - flash.each do |type, msg|
    %strong
      = msg

  %h2 Account Settings
  %p 
    ="Click to"
    =link_to("edit", edit_user_path(@user.id))
    ="profile"
  - if @user.role === "admin"
    = button_to 'Users', users_path, :method => :get, class: "btn btn-default"
  %br
  = button_to 'Families', families_path, :method => :get, class: "btn btn-default"

  %h2 Recent Submittal Entries
  = react_component("SubmittalsList", {submittals: @submittals, role: @user.role, is_dash: "true"})